* {
  margin: 0;
  padding: 0;
}

body {
  margin: 5px;
  padding: 5px;
  background-color: #fbf1f2;
  background-image:  radial-gradient(#FCB9B2 0.5px, transparent 0.5px), radial-gradient(#FCB9B2 0.5px, #fbf1f2 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

label {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  margin-top: 2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

#usersTable td, th, #prodTable td, th {
  border: 1px solid black;
  padding: 15px;
}

#usersTable th, #prodTable th {
  background-color: #FED0BB;
}

#getAllButton, #usersTable, #prodTable {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}